
body {
    font-family: "Poppins", sans-serif;
    background: #f8f9fc;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
}

.header-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #d8eaff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 93%;
    position: fixed;
    top: 0;
    left: 10px;
    margin-top: 20px;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.logo i {
    font-size: 26px;
    margin-right: 8px;
    color: #061142; 
}

.search {
    display: flex;
    align-items: center;
    background: #d7e5fc;
    padding: 6px 12px;
    border-radius: 20px;
    width: 40%;
    border: 2px solid #3f78e0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.search i {
    color: #0a1a3a;
    margin-right: 8px;
}

.search input {
    border: none;
    background: none;
    outline: none;
    width: 100%;
}

@media (max-width: 768px) {
    .search {
        width: 60%;
    }
}

main {
    flex: 1;
    padding: 20px;
}

.modules {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}
.card {
    background: #e4f0ff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.3s;
    position: relative;
}

.card i:first-child {
    font-size: 40px;
    color: #0a1a3a;
}

.card h3 {
    margin: 10px 0;
    font-size: 16px;
}

.card p {
    font-size: 12px;
    color: #555;
}
.card i.fa-bookmark {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 18px;
    color: #0a1a3a;
    cursor: pointer;
}
.card:hover {
    transform: translateY(-5px);
}
.bookmark-icon {
    font-size: 20px;
    cursor: pointer;
    color: gray;
    transition: color 0.3s ease-in-out;
}




